<h1>Employee List</h1>
<hr/>
<button class="btn btn-danger" (click)="loadData()">show Employee List</button>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="showdata">
  <thead>
    <tr>
      <th>Employee Name </th>
      <th>Designation </th>
      <th>Salary </th>
      <th>Joining Date </th>
      <th>Birth Date </th>
    </tr> 
  </thead>
  <tbody>
    <tr *ngFor="let e of employees">
      <td>{{e.employeeName}}</td>
      <td>{{e.designation}}</td>
      <td>{{e.salary}}</td>
      <td>{{e.joiningDate | date}}</td>
      <td>{{e.birthDate | date}}</td>
    </tr>
  </tbody>
</table>
